$teal: #3EE9E5;
$white: #FFFFFF;
$navyBlue: #093F68;
$veryDarkBlue: #080C20;
$grey: #777F98;
$red: #FF2965;

$font-xsm: 0.9375rem; //15px
$font-sm: 1.125rem; //18px
$font-med: 2rem;  //32px
$font-lg: 3rem;  //48px
