.whySection {
    text-align: center;
    
    @include breakpoint-up(medium) {
        display: flex;
        flex-direction: column;
        text-align: left;
        
    }

    @include breakpoint-up(large) {
        flex-direction: row;
        justify-content: center;
    }

    .flexItem {
        @include breakpoint-up(medium) {
            display: flex;
            width: 80%;
            margin: 0 auto;
        }

        @include breakpoint-up(large) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px;
            padding: 1rem;
            width: auto;
            
        }

        &:nth-child(1), &:nth-child(3){
            @include breakpoint-up(medium) {
                justify-content: flex-end;
            }

            @include breakpoint-up(large) {
                justify-content: flex-start;
            }
            
        }

        &:nth-child(2), &:nth-child(4){
            @include breakpoint-up(large) {
                padding-top: 50px;
            }
            
        }
    }

    
    .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 2rem;
        background-color: $navyBlue;
        height: 123px;
        width: 120px;
        border-radius: 40%;
  
        img {
            height: 50%;
        }
    }

    

    .text-container {
        @include breakpoint-up(medium) {
            width: 23.5rem;
            padding-left: 3.4375rem;
        }

        @include breakpoint-up(large) {
            width: 15.5625rem;
            padding-left: 0px;
        }

        .title {
            font-size: $font-sm;
            font-weight: 800;
            color: $white;
            padding-top: 1rem;
            padding-bottom: 1.125rem;
        }
    
        .description {
            font-size: $font-xsm;
            line-height: 1.9;
            padding-bottom: 4.125rem;
            
        }
    }
}